@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/inter/Inter-Regular.woff.woff') format('woff');
}

html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Inter Regular', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    color: $black;
    max-width: 1440px;
    margin: auto;
}
main {
    height: 100%;
    overflow: auto;
    max-width: 1440px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    //line-height: 1.25;
    //letter-spacing: 1px;
}
h1 {
    font-size: $headingOne;
    //letter-spacing: 2px;
}
h2 {
    font-size: $headingTwo;
}
h3 {
    font-size: $headingThree;
    font-weight: 500;
}
h4 {
    font-size: $headingFour;
}
h5 {
    font-size: $headingFive;
}
h6 {
    font-size: $headingSix;
}
p {
    $fontSizeMedium: 16px;
    margin:0;
    line-height: 1.8;
}
a {
    color: $black;
    text-decoration: none;
}
strong {
    font-weight: normal;
}
.yb_link {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        bottom: -10%;
    }
}
// custom img - dynamic (with hover & link)
.yb_img-container__dynamic {
    background: $grey;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.yb_img-container__img__dynamic {
    transition: ease-out 0.6s;
    position: absolute;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.yb_img-container__link__dynamic {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &:hover {
        .yb_img-container__img__dynamic {
            transform: scale(1.04) translateX(-48%);
            -webkit-filter: none;
            filter: none;
        }
    }
}
// resets the button style
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.yb_button {
    display: inline-block;
    font-weight: 600;
    transition: $transitionFast;
    padding: 8px 8px 8px 0;
    position: relative;
    padding-left: 32px;
    &:hover {
        .pulsating-circle {
            &:before {
                display: block;
            }
            &:after {
                box-shadow: 0 0 8px rgba(0,0,0,.3);
                animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
            }
        }
    }    
}
.pulsating-circle {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateX(-0%) translateY(-50%);
    width: 16px;
    height: 16px;   
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      //background-color: $grey;
      background-color: $blue;
      animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      display: none;
    }  
    &:after {
      content: '';
      position: absolute;
      left: 0; 
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $black;
      border-radius: 15px;
    }
  }
.yb_section-headline {
    font-size: $headingSix;
    font-weight: 500;
    margin-bottom: 40px;
    color: $darkgrey;
    position: relative;
    margin-left: 64px;
    &:before {
        content: '';
        background-color: $darkgrey;
        height: 1px;
        margin-bottom: auto;
        margin-top: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -4rem;
        width: 2.5rem;
    }
}
@media (min-width: $breakpointSmallMedium) {
    .yb_section-headline {
        margin-left: 0;
    }
}

///////////////////////////// HEADER /////////////////////////////
.yb_header {
    justify-content: space-between;
    height: 80px;
    transition: $transitionFast;
    z-index: 10;
    margin: 0;
    position: absolute;
    width: 90%;
    max-width: calc(1440px - 10%);
    //sticky header styling start
    /*position: fixed;
    width: 90%;
    background: white;
    z-index: 999;
    box-shadow: 0 0px 3px 0px rgba(50, 50, 50, 0.17);*/
    //sticky header styling end
}
// sticky header
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
position: fixed;
background: #ffffffed;
z-index: 999;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 61px;
}
@media (min-width: 992px) {
    /*.sticky {
        width: 80%;
    }*/
    .sticky + .content {
        padding-top: 75px;
    }
}
.yb_header-global__logo {
    transition: $transitionFast;
    padding: 8px 8px 8px 0;
    z-index: 999;
    display: flex;
}
.yb_header-global__logo-name {
    font-weight: 600;
}
.yb_header-global__logo-title {
    color: $darkgrey;
    margin-left: 8px;
}

///////////////////////////// NAVIGATION /////////////////////////////
.yb_navigation-global {
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    transition: $transitionFast;
    pointer-events: none;
}
.yb_navigation-global__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.yb_navigation-global__list-item {
    padding-right: 0;
    padding-bottom: 16px;
    &:first-child {
        margin-top: 160px;
    }
    &:last-child {
        margin-top: 32px;
        .yb_navigation-global__list-item-link {
            color: $middlegrey;
        }
    }
}
.yb_navigation-global__list-item-link {
    display: inline-block;
    font-size: $headingFive;
    font-weight: 500;
    color: $black;
    transition: $transitionFast;
    padding: 10px 10%;
}
//Mobile navigation
.yb_navigation-mobile__button {
    opacity: 0;
    position: absolute;
    margin: 0;
    transform: translate(-5px, -22px);
    width: 40px;
    height: 40px;
    z-index: 2;
}      
.yb_navigation-mobile__line {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    position: relative;
    background: $black;
    border-radius: 2px;
    transform-origin: 0% 0%;
    transition: transform $transition, opacity 0.55s ease;
    z-index: 1;
    &:last-of-type {
        margin-bottom: 0;
        width: 23px;
        float: right;
        transform-origin: 0% 100%;
    }
}
//when toggle the burger menu on mobile
.menu-is-open {
    .yb_navigation-global {
        opacity: 1;
        height: 100%;
        z-index: 1;
        pointer-events: auto;
   }
    .yb_navigation-mobile__line {
        transform: rotate(45deg) translate(-2.5px, -10px);
        margin-bottom: 0;
        background: $black;
        &:last-of-type {
            transform: rotate(-45deg) translate(-1.5px, 9px);
            width: 30px;
        }
    }
}
@media (min-width: $breakpointSmall) {
    .yb_navigation-global {
        position: relative;
        //justify-content: flex-end;
        background: none;
        width: auto;
        height: auto;
        opacity: 1;
        pointer-events: auto;
    }
    .yb_navigation-mobile {
        display: none;
    }
    .yb_navigation-global__list {
        margin-right: -40px;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .yb_navigation-global__list-item {
        padding-right: 24px;
        padding-bottom: 0;
        &:first-child {
            display: none;
        }
        &:last-child {
            display: none;
        }
    }
    .yb_navigation-global__list-item-link {
        font-size: $fontSizeMedium;
        color: $darkgrey;
        padding: 8px 16px;
        &:hover {
            color: #000;
        }
    }
}

///////////////////////////// FOOTER /////////////////////////////
.yb_footer-global {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.yb_footer-global__text-container {
    margin-bottom: 24px;
}
.yb_footer-global__paragraph {
    font-weight: 600;
    margin-bottom: 8px;
}
.yb_footer-global__copyright-note {
    color: $darkgrey;
}
.yb_footer-global__navigation-item {
    display: none;
}
@media (min-width: $breakpointSmall) {
    .yb_footer-global {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 80px;
    }
    .yb_footer-global__text-container {
        display: flex;
        margin-bottom: 0;
    }
    .yb_footer-global__paragraph {
        margin-bottom: 0;
    }
    .yb_footer-global__copyright-note {
        padding-left: 16px;
    }
    .yb_footer-global__navigation-item {
        display: block;
        padding: 8px 16px;
        font-size: $fontSizeMedium;
        color: $darkgrey;
        transition: $transitionFast;
        text-align: right;
        &:hover {
            color: #000;
        }
    }
}