@import "variables.scss";

* {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 1.25;
    letter-spacing: 1px;
}
h1 {
    font-size: $headingOne;
    letter-spacing: 2px;
}
h2 {
    font-size: $headingTwo;
}
h3 {
    font-size: $headingThree;
    font-weight: 500;
}
h4 {
    font-size: $headingFour;
}
h5 {
    font-size: $headingFive;
}
h6 {
    font-size: $headingSix;
}
p {
    $fontSizeMedium: 16px;
}
a {
    color: $black;
}

// reset the button style
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.link {
    text-decoration: none;
    color: $red;
    font-size: $headingFour;
    letter-spacing: 1px;
    font-weight: 500;
    transition: $transitionFast;
    position: relative;
    &:before {
        content: "";
        background-color: $red;
        width: 100%;
        height: 3px;
        position: absolute;
        z-index: -1;
        transform: translateY(900%);
        transition: $transitionFast;
    }
}

@media (min-width: 768px) {
    .link:hover {
        filter: brightness(1.5);
    }
}
