@import "variables.scss";

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/inter/Inter-Regular.woff.woff') format('woff');
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
main {
    height: 100%;
    overflow: auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 1.25;
    letter-spacing: 1px;
}
h1 {
    font-size: $headingOne;
    letter-spacing: 2px;
}
h2 {
    font-size: $headingTwo;
}
h3 {
    font-size: $headingThree;
    font-weight: 500;
}
h4 {
    font-size: $headingFour;
}
h5 {
    font-size: $headingFive;
}
h6 {
    font-size: $headingSix;
}
p {
    $fontSizeMedium: 16px;
}
a {
    color: $black;
}
img {
    width: 100%;
}

// reset the button style
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.link {
    text-decoration: none;
    color: $red;
    font-size: $headingFour;
    letter-spacing: 1px;
    font-weight: 500;
    transition: $transitionFast;
    position: relative;
    &:before {
        content: "";
        background-color: $red;
        width: 100%;
        height: 3px;
        position: absolute;
        z-index: -1;
        bottom: -5px;
        transition: $transitionFast;
    }
}

@media (min-width: 768px) {

    .link {
        &:after {
            content: "→";
            position: absolute;
            transition: $transitionFast;
            right: 0;
            opacity: 0;
            top: 50%;
            transform: translate(0,-50%);
        }
        &:hover {
            filter: brightness(2);
            &:after {
                transform: translate(100%,-50%);
                opacity: 1;
                right: -5px;
            }
        }  
    }

}
