header {
    align-items: center;
    .logo {
        text-decoration: none;
        font-size: $headingOne;
        font-weight: 600;
        color: black;
        padding: 10px 20px 10px 0;
        font-family: Helvetica, sans-serif;
        transition: 0.4s;
        &:hover {
            color: $red;
        }
    }
}

@media (min-width: 768px) {

    header {
        .logo {
            padding: 10px;
            font-size: $fontSizeLarge;
        }
    }

}