@import "variables.scss";
@import "animation.scss";

///////////////////////////// INTRO /////////////////////////////
.yb_section-intro {
    height: 100vh;
    max-height: 900px;
    min-height: 700px;
}
.yb_section-intro__headline{
    margin-bottom: 24px;
    font-size: $headingTwo;
    font-weight: 400;
}
.yb_section-intro__headline-grey {
    //color: $grey;
}
.yb_section-intro__headline-black {
    //color: $black;
    font-weight: 600;
}
.yb_section-intro__paragraph {
    font-size: $fontSizeMedium;
    //color: $darkgrey;
    line-height: 1.8;
    b {
        color: $black;
    }
}
///////////////////////////// INTRO - Avatar /////////////////////////////
.avatar-background {
    &:before {
        content: "This is pure CSS magic. Isn't it amazing?";
        position: absolute;
        display: flex;
        z-index: 999;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #212121d4;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: $transitionFast;
    }
    &:hover:before {
        opacity: 1;
    }
}
.avatar-background {
    width: 200px;
    height: 200px;
    background: #bcc8d8;
    margin-bottom: 0;
    margin-left: -30px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    transform: scale(0.7);
    .cloud-group {
        animation-name: move-right-first;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .cloud-group:nth-child(2){
        transform: translateX(-100%);
        animation-name: move-right-second;
    }
    .cloud-item:nth-child(2) {
        transform: translate(70px, 30px) scale(0.8);
    }
    .cloud-item:nth-child(3) {
        transform: translate(-80px, 50px) scale(1.2);
    }
    .cloud {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        left: 100px;
    }
    .cloud-left {
        left: 88px;
        height: 20px;
        width: 20px;
        top: 7px;
    }
    .cloud-right {
        left: 123px;
        height: 16px;
        width: 16px;
        top: 10px;
    }
    .avatar {
        left: -7px;
    }
    .hair {
        z-index: 3;
        top: 30px;
        left: 50px;
        width: 120px;
        height: 200px;
        border-radius: 100px 100px 0 0;
        background: $black;
    }
    .fringe {
        z-index: 99;
        top: 53px;
        left: 95px;
        width: 63px;
        height: 28px;
        background: $black;
        border-radius: 0 0 100px 100px;
        transform: rotate(30deg);
        &:before {
            position: absolute;
            content: "";
            top: 18px;
            left: -20px;
            width: 47px;
            height: 30px;
            background: $black;
            border-radius: 100%;
            transform: rotate(-45deg);
        }
    }
    .face {
        border-radius: 100px 100px 130px 130px;
        z-index: 20;
        top: 70px;
        left: 70px;
        width: 80px;
        height: 80px;
        background: #F0BEAF;
    }
    .eye {
        z-index: 30;
        top: 100px;
        left: 80px;
        width: 10px;
        height: 10px;
        background: $black;
        border-radius: 100%;
        animation-name: eyeblinking-left;
        animation-duration: 4s;
        animation-iteration-count: infinite;

        &:before {
            position: absolute;
            content: "";
            left: 50px;
            width: 10px;
            height: 10px;
            background: $black;
            border-radius: 100%;
            animation-name: eyeblinking-right;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
    } 
    .nose {
        z-index: 20;
        top: 100px;
        left: 107px;
        width: 8px;
        height: 14px;
        background: #DB9B99;
        border-radius: 100px;
    }
    .mouth {
        width: 500px; 
        height: 100px;  
        border: solid 5px #000;
        border-color: #000 transparent transparent transparent;
        border-radius: 50%/100px 100px 0 0;
        transition: $transition;
    }
    .neck {
        z-index: 13;
        width: 30px;
        height: 35px;
        background: #DB9B99;
        top: 130px;
        left: 97px;
        border-radius: 100%;
    }
    .mouth {
        width: 30px;
        height: 30px;
        top: 96px;
        z-index: 20;
        left: 100px;
        border: solid 3px $red;
        border-color: transparent transparent $red transparent;
        border-radius: 0 0 150px 30%/90px;
    }
    .body {
        z-index: 10;
        top: 150px;
        left: 60px;
        width: 100px;
        height: 150px;
        background: #ececec;
        border-radius: 100px;
    }
}
.clouds, .cloud, .avatar, .hair, .fringe, .face, .eye, .nose, .mouth, .neck, .body {
    position: absolute;
}
@media (min-width: $breakpointSmall) {
    .avatar-background {
        transform: none;
        margin-bottom: 40px;
        margin-left: 0;
    }
}

///////////////////////////// ABOUT /////////////////////////////
.yb_section-about {
    background: $lightgrey;
    padding-top: 144px;
    padding-bottom: 144px;
    align-items: flex-start;
    margin-bottom: 144px;
}
.yb_section-about__paragraph {
    font-size: $headingFour;
    margin-bottom: 80px;
}
.yb_section-about__button {
    margin-top: 40px;
}
.yb_section-about__experience {
    margin-bottom: 24px;
    //font-family: 'Work Sans';
}
.yb_section-about__experience__headline {
    margin-bottom: 2px;
}

///////////////////////////// Work /////////////////////////////
.yb_section-work {
    margin-bottom: 200px;
    justify-content: flex-start;
}
.yb_section-work__project {
    margin-bottom: 144px;
    &:last-child {
        margin-bottom: 0;
    }
}
.yb_section-work__project-img-container {
    height: 480px;
    background: #e9c0ba;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.yb_section-work__project-img {
    transition: ease 1s;
    position: absolute;
}
.yb_section-work__project-img-link {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &:hover {
        .yb_section-work__project-img {
            transform: scale(1.08);
        }
    }
}
#loveco {
    .yb_section-work__project-img-container {
        order:2;
    }
    .yb_section-work__project-text-container {
        //padding: 0;
    }
    /*.yb_section-work__project-img {
        width: 160px;
        height: 160px;
    }*/
}
.yb_section-work__project-text-container {
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.yb_section-work__project-headline {
    font-size: $fontSizeMedium;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 8px;
}
.yb_section-work__project-paragraph {
    font-size: $headingTwo;
    line-height: 1.25;
}
.yb_section-work__project-button {
    margin-top: 80px;
}

///////////////////////////// Contact /////////////////////////////
.yb_section-contact {
    flex-direction: column;
    hr {
        margin-bottom: 80px;
    }
}
.yb_section-contact__headline {
    font-size: $headingSix;
    margin-bottom: 32px;
    margin-top: 104px;
}
.yb_section-contact__paragraph {
    font-size: $headingTwo;
    margin-bottom: 104px;
}
.yb_section-contact__button {
    //font-size: $headingFour;
    //color: $red;
    font-weight: 600;
}