@import "variables.scss";

.yb_section-intro {
    height: 100vh;
    max-height: 900px;   
}
.yb_section-intro__headline{
    margin-bottom: 24px;
}
.yb_section-intro__headline-grey {
    color: $grey;
}
.yb_section-intro__headline-black {
    color: $black;
}
.yb_section-intro__paragraph {
    font-size: $fontSizeMedium;
    color: $darkgrey;
    line-height: 1.8;
    b {
        color: $black;
    }
}


#intro {
    /*padding-top: 40px;
    padding-bottom: 40px;*/
    .heading {
        margin-bottom: 20px;
        font-size: $headingTwo;
    }
    .sub-heading {
        font-weight: 400;
    }
}
.avatar-background {
    width: 200px;
    height: 200px;
    background: #bcc8d8;
    margin-bottom: 0;
    margin-left: -30px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    transform: scale(0.7);
    .cloud-group {
        animation-name: move-right-first;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .cloud-group:nth-child(2){
        transform: translateX(-100%);
        animation-name: move-right-second;
    }
    @keyframes move-right-first {
        0% {
            transform: translate(0, 0);
        }
        100% {  
            transform: translate(100%, 0);
        }
    }
    @keyframes move-right-second {
        0% {
            transform: translate(-100%, 0);
        }
        100% {  
            transform: translate(0, 0);
        }
    }
    .cloud-item:nth-child(2) {
        transform: translate(70px, 30px) scale(0.8);
    }
    .cloud-item:nth-child(3) {
        transform: translate(-80px, 50px) scale(1.2);
    }
    .cloud {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        left: 100px;
    }
    .cloud-left {
        left: 88px;
        height: 20px;
        width: 20px;
        top: 7px;
    }
    .cloud-right {
        left: 123px;
        height: 16px;
        width: 16px;
        top: 10px;
    }
    .avatar {
        left: -7px;
    }
    .hair {
        z-index: 3;
        top: 30px;
        left: 50px;
        width: 120px;
        height: 200px;
        border-radius: 100px 100px 0 0;
        background: $black;
    }
    .fringe {
        z-index: 99;
        top: 53px;
        left: 95px;
        width: 63px;
        height: 28px;
        background: $black;
        border-radius: 0 0 100px 100px;
        transform: rotate(30deg);
        &:before {
            position: absolute;
            content: "";
            top: 18px;
            left: -20px;
            width: 47px;
            height: 30px;
            background: $black;
            border-radius: 100%;
            transform: rotate(-45deg);
        }
    }
    .face {
        border-radius: 100px 100px 130px 130px;
        z-index: 20;
        top: 70px;
        left: 70px;
        width: 80px;
        height: 80px;
        background: #F0BEAF;
    }
    .eye {
        z-index: 30;
        top: 100px;
        left: 80px;
        width: 10px;
        height: 10px;
        background: $black;
        border-radius: 100%;
        animation-name: eyeblinking-left;
        animation-duration: 4s;
        animation-iteration-count: infinite;

        &:before {
            position: absolute;
            content: "";
            left: 50px;
            width: 10px;
            height: 10px;
            background: $black;
            border-radius: 100%;
            animation-name: eyeblinking-right;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
    }
    @keyframes eyeblinking-left {
        0% {
            height: 10px;
            top: 100px;
        }
        90% {
            height: 10px;
            top: 100px;
        }
        95% {  
            height: 2px;
            top: 104px;
            
        }
        100% {  
            height: 10px;
            top: 100px;
        }
    }
    @keyframes eyeblinking-right {
        0% {
            height: 10px;

        }
        90% {
            height: 10px;

        }
        95% {  
            height: 2px;

            
        }
        100% {  
            height: 10px;

        }
    }
    .nose {
        z-index: 20;
        top: 100px;
        left: 107px;
        width: 8px;
        height: 14px;
        background: #DB9B99;
        border-radius: 100px;
    }
    .mouth {
        width: 500px; 
        height: 100px;  
        border: solid 5px #000;
        border-color: #000 transparent transparent transparent;
        border-radius: 50%/100px 100px 0 0;
        transition: $transition;
    }
    .neck {
        z-index: 13;
        width: 30px;
        height: 35px;
        background: #DB9B99;
        top: 130px;
        left: 97px;
        border-radius: 100%;
    }
    .mouth {
        width: 30px;
        height: 30px;
        top: 96px;
        z-index: 20;
        left: 100px;
        border: solid 3px $red;
        border-color: transparent transparent $red transparent;
        border-radius: 0 0 150px 30%/90px;
    }
    .body {
        z-index: 10;
        top: 150px;
        left: 60px;
        width: 100px;
        height: 150px;
        background: #ececec;
        border-radius: 100px;
    }
}
.clouds, .cloud, .avatar, .hair, .fringe, .face, .eye, .nose, .mouth, .neck, .body {
    position: absolute;
}

#projects {
    .row {
        align-items: center;
    }
}

#about {
    .row {
        padding: 100px 0 30px;
    }

    h3 {
        margin-bottom: 30px;
    }

    p {
        font-size: $headingThree;
    }
}


@media (min-width: 768px) {

    #intro {
        /*padding-top: 100px;
        padding-bottom: 100px;*/
        .heading {
            font-size: $headingOne;
        }
    }
    .avatar-background {
        transform: none;
        margin-bottom: 40px;
        margin-left: 0;
    }

}