///////////////////////////// INTRO /////////////////////////////
.yb_section-intro {
    padding: 160px 5% 80px;
    min-height: 500px;
}
.yb_section-intro__headline{
    margin-bottom: 24px;
    font-size: $headingTwo;
    font-weight: 400;
}
.yb_section-intro__headline-black {
    //color: $black;
    font-weight: 600;
}
.yb_section-intro__paragraph {
    font-size: $fontSizeMedium;
    //color: $darkgrey;
    b {
        color: $black;
    }
}
@media (min-width: $breakpointSmallMedium) {
    .yb_section-intro {
        padding: 0 5%;
        height: 100vh;
        max-height: 900px;
        min-height: 700px;
    }
}
///////////////////////////// INTRO - Avatar /////////////////////////////
.avatar-background {
    width: 200px;
    height: 200px;
    background: $blue;
    margin-bottom: 0;
    margin-left: -30px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black); //Solution for Overflow: hidden with border radius not working on Safari
    mask-image: radial-gradient(white, black);
    transform: scale(0.7);
    &:before {
        content: "This is pure CSS magic. Isn't it amazing?";
        position: absolute;
        display: flex;
        z-index: 999;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #212121d4;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: $transitionFast;
    }
    &:hover:before {
        opacity: 1;
    }
    .cloud-group {
        //z-index: 1;
        animation-name: move-right-first;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .cloud-group:nth-child(2){
        transform: translateX(-100%);
        animation-name: move-right-second;
    }
    .cloud-item:nth-child(2) {
        transform: translate(70px, 30px) scale(0.8);
    }
    .cloud-item:nth-child(3) {
        transform: translate(-80px, 50px) scale(1.2);
    }
    .cloud {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        left: 100px;
    }
    .cloud-left {
        left: 88px;
        height: 20px;
        width: 20px;
        top: 7px;
    }
    .cloud-right {
        left: 123px;
        height: 16px;
        width: 16px;
        top: 10px;
    }
    .avatar {
        left: -7px;
        z-index: 10;
    }
    .hair {
        //z-index: 3;
        top: 30px;
        left: 50px;
        width: 120px;
        height: 200px;
        border-radius: 100px 100px 0 0;
        background: $black;
    }
    .fringe {
        z-index: 4;
        top: 53px;
        left: 95px;
        width: 63px;
        height: 28px;
        background: $black;
        border-radius: 0 0 100px 100px;
        transform: rotate(30deg);
        &:before {
            position: absolute;
            content: "";
            top: 18px;
            left: -20px;
            width: 47px;
            height: 30px;
            background: $black;
            border-radius: 100%;
            transform: rotate(-45deg);
        }
    }
    .face {
        border-radius: 100px 100px 130px 130px;
        z-index: 3;
        top: 70px;
        left: 70px;
        width: 80px;
        height: 80px;
        background: #F0BEAF;
    }
    .eye {
        z-index: 5;
        top: 100px;
        left: 80px;
        width: 10px;
        height: 10px;
        background: $black;
        border-radius: 100%;
        animation-name: eyeblinking-left;
        animation-duration: 4s;
        animation-iteration-count: infinite;

        &:before {
            position: absolute;
            content: "";
            left: 50px;
            width: 10px;
            height: 10px;
            background: $black;
            border-radius: 100%;
            animation-name: eyeblinking-right;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
    } 
    .nose {
        z-index: 5;
        top: 100px;
        left: 107px;
        width: 8px;
        height: 14px;
        background: #DB9B99;
        border-radius: 100px;
    }
    .neck {
        z-index: 2;
        width: 30px;
        height: 35px;
        background: #DB9B99;
        top: 130px;
        left: 97px;
        border-radius: 100%;
    }
    .mouth {
        width: 30px;
        height: 30px;
        top: 96px;
        z-index: 5;
        left: 100px;
        border: solid 3px $red;
        border-color: transparent transparent $red transparent;
        border-radius: 0 0 150px 30%/90px;
        transition: $transition;
    }
    .body {
        z-index: 1;
        top: 150px;
        left: 60px;
        width: 100px;
        height: 150px;
        background: #ececec;
        border-radius: 100px;
    }
}
.clouds, .cloud, .avatar, .hair, .fringe, .face, .eye, .nose, .mouth, .neck, .body {
    position: absolute;
}
@media (min-width: $breakpointSmall) {
    .avatar-background {
        transform: none;
        margin-bottom: 40px;
        margin-left: 0;
    }
}

///////////////////////////// ABOUT /////////////////////////////
.yb_section-about {
    background: $lightgrey;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: flex-start;
    justify-content: flex-start;
}
.yb_section-about__paragraph {
    font-size: $headingFour;
    margin-bottom: 80px;
}
#about {
    .yb_button{
        margin-top: 40px;
    }   
}
.yb_section-about__experience {
    margin-bottom: 24px;
}
.yb_section-about__experience-headline {
    font-size: $fontSizeMedium;
}
@media (min-width: $breakpointSmall) {
    .yb_section-about {
        justify-content: center;
    }
    .yb_section-about__experience-container {
        display: flex;
        flex-wrap: wrap;
    }
    .yb_section-about__experience {
        width: 50%;
        margin-bottom: 40px;
    }
    .yb_section-about__experience-headline {
        margin-bottom: 8px;
        text-transform: lowercase;
    }
    .yb_section-about__experience-year, .yb_section-about__experience-role {
        font-size: $headingFour;
        line-height: 1.5;
    }
}
@media (min-width: $breakpointSmallMedium) {
    .yb_section-about {
        padding-top: 144px;
        padding-bottom: 144px;
        //margin-bottom: 144px;
        justify-content: center;   
    }
    .yb_section-about__paragraph {
        margin-bottom: 0;
    }
    .yb_section-about__experience-container {
        display: block;
    }
    .yb_section-about__experience {
        width: 100%;
    }
    .yb_section-about__experience-headline {
        font-size: $fontSizeMedium;
        text-transform: none;
        margin-bottom: 0px;
    }
    .yb_section-about__experience-year, .yb_section-about__experience-role {
        font-size: $fontSizeMedium;
    }
}
///////////////////////////// Work /////////////////////////////
#work {
    .yb_section-headline {
        margin-bottom: 80px;
    }
    .yb_img-container__dynamic {
        height: 280px;
        margin-bottom: 40px;
    }
    .yb_button {
        margin-top: 56px;
    }
}
.yb_section-work {
    padding-top: 80px;
    margin-bottom: 80px;
    justify-content: flex-start;
}
.yb_section-work__project {
    margin-bottom: 104px;
    &:last-child {
        margin-bottom: 0;
    }
}
.yb_section-work__project-text-container {
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.yb_section-work__project-headline {
    font-size: $fontSizeMedium;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
}
.yb_section-work__project-paragraph {
    font-size: $headingTwo;
    line-height: 1.25;
}
.yb_section-work__project-link {
    &:hover {
        .yb_button {
            .pulsating-circle {
                &:before {
                    display: block;
                }
                &:after {
                    box-shadow: 0 0 8px rgba(0,0,0,.3);
                    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
                }
            }

        }
    }
}
@media (min-width: $breakpointSmall) {
    .yb_section-work__project-text-container {
        padding-left: 10px;
    }
    #work {
        .yb_img-container__dynamic {
            height: 400px;
        }
    }
}
@media (min-width: $breakpointSmallMedium) {
    .yb_section-work {
        margin-bottom: 200px;
        padding-top: 144px;
    }
    .yb_section-work__project {
        margin-bottom: 144px;
    }
    .yb_section-work__project-text-container {
        padding: 0 5%;
    }
    .yb_section-work__project-button {
        margin-top: 80px;
    }
    #work {
        .yb_section-headline {
            margin-bottom: 40px;
        }
        .yb_img-container__dynamic {
            height: 480px;
            margin-bottom: 0;
        }
    }
    #loveco, #accessibleDesign {
        .yb_img-container__dynamic {
            order: 2;
        }
    }
}
@media (min-width: $breakpointLarge) {
    #work {
        .yb_img-container__dynamic {
            height: 560px;
        }
    }
}

///////////////////////////// Contact /////////////////////////////
.yb_section-contact {
    padding-top: 80px;
    flex-direction: column;
    hr {
        margin-bottom: 80px;
    }
}
.yb_section-contact__headline {
    font-size: $headingSix;
    margin-bottom: 32px;
    margin-top: 104px;
}
.yb_section-contact__paragraph {
    font-size: $headingTwo;
    margin-bottom: 64px;
    line-height: 1.5;
}
@media (min-width: $breakpointSmallMedium) {
    .yb_section-contact {
        padding-top: 0;
    }
    .yb_section-contact__paragraph {
        margin-bottom: 104px;
    }
}