.navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navigation-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #f6f6f6;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: $transition;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    padding: 0;
    li {
        padding-right: 0;
        padding-bottom: 30px;
    }
    .link {
        padding: 10px 20px;
        color: $black;
        font-size: $headingTwo;
        &:before {
            width: 0;
        }
    }
}


.mobile-navigation {

    .icon--burger-menu {
        opacity: 0;
        position: absolute;
        margin: 0;
        transform: translate(-5px, -14px);
        width: 40px;
        height: 40px;
        z-index: 102;
    }  

    .line {
        width: 30px;
        height: 4px;
        margin-bottom: 6px;
        position: relative;
        background: $black;
        border-radius: 2px;
        z-index: 101;
        transform-origin: 0% 0%;
        transition: transform $transition, background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
        &:last-of-type {
            margin-bottom: 0;
            width: 23px;
            float: right;
            transform-origin: 0% 100%;
        }
    }
}

//when toggle the burger menu on mobile
.menu-is-open {
    width: 100%;
    height: 100%;
    position: fixed;
    .navigation-menu {
        height: 100vh;
    }
    .line {
        transform: rotate(45deg) translate(-2.5px, -10px);
        margin-bottom: 0;
        &:last-of-type {
            transform: rotate(-45deg) translate(-1.5px, 9px);
            width: 30px;
        }
    }
}

@media (min-width: 768px) {

    .navigation-menu {
        justify-content: flex-end;
        position: relative;
        background: none;
        top: none;
        left: none;
        flex-direction: row;
        overflow: visible;

        li {
            padding-right: 40px;
            padding-bottom: 0;
            &:last-child {
                padding-right: 0;
            }
        }

        .link {
            padding: 10px;
            font-size: $headingFour;
            &:hover {
                color: $red;
            }
            &:before {
                width: 0;
                left: 50%;
                transform: translate(-50%, -10px);
                max-width: calc(100% - 20px);
            }
            &:hover:before {
                width: 100%;
            }
            &:after {
                opacity: 0;
            }
        }
    }

    .mobile-navigation {
        display: none;
    }
}