.yb_section-thumbnail__img-container {
    background: $grey;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 560px;
}
.yb_section-thumbnail__img-container__img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}