// color variables 
$black: #333;
$red: #DA5E5E;

// font size variables 
$fontSizeExtraLarge: 60px;
$fontSizeLarge: 48px;

$headingOne: 36px;
$headingTwo: 28px;
$headingThree: 24px;
$headingFour: 20px;
$headingFive: 18px;
$headingSix: 18px;

$fontSizeMedium: 16px;
$fontSizeSmall: 14px;
$fontSizeExtraSmall: 12px;