@charset "UTF-8";
.container {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

@media (min-width: 992px) {
  .container {
    padding-right: 10%;
    padding-left: 10%; } }
/* @media (min-width: 768px) {
   .container {
     width: 750px;
     padding-right: 0;
     padding-left: 0;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }*/
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  /*margin-right: -15px;
  margin-left: -15px;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.row-no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 480px) {
  .col-s-12 {
    width: 100%; }

  .col-s-11 {
    width: 91.66666667%; }

  .col-s-10 {
    width: 83.33333333%; }

  .col-s-9 {
    width: 75%; }

  .col-s-8 {
    width: 66.66666667%; }

  .col-s-7 {
    width: 58.33333333%; }

  .col-s-6 {
    width: 50%; }

  .col-s-5 {
    width: 41.66666667%; }

  .col-s-4 {
    width: 33.33333333%; }

  .col-s-3 {
    width: 25%; }

  .col-s-2 {
    width: 16.66666667%; }

  .col-s-1 {
    width: 8.33333333%; } }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
/*
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/inter/Inter-Regular.woff.woff") format("woff"); }
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main {
  height: 100%;
  overflow: auto; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  line-height: 1.25;
  letter-spacing: 1px; }

h1 {
  font-size: 36px;
  letter-spacing: 2px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px;
  font-weight: 500; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 18px; }

a {
  color: #333; }

img {
  width: 100%; }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }
  button:focus {
    outline: none; }

.link {
  text-decoration: none;
  color: #D44040;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative; }
  .link:before {
    content: "";
    background-color: #D44040;
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: -1;
    bottom: -5px;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

@media (min-width: 768px) {
  .link:after {
    content: "→";
    position: absolute;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    right: 0;
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%); }
  .link:hover {
    filter: brightness(2); }
    .link:hover:after {
      transform: translate(100%, -50%);
      opacity: 1;
      right: -5px; } }
.header {
  align-items: center;
  /*position: fixed;
  width: 90%;
  background: white;
  z-index: 999;
  box-shadow: 0 0px 3px 0px rgba(50, 50, 50, 0.17);*/
  padding: 0 5%;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  justify-content: space-between; }
  .header .logo {
    text-decoration: none;
    font-size: 36px;
    font-weight: 600;
    color: black;
    padding: 10px 20px 10px 0;
    font-family: Helvetica, sans-serif;
    transition: 0.4s; }
    .header .logo:hover {
      color: #D44040;
      filter: brightness(2); }

@media (min-width: 768px) {
  .header .logo {
    padding: 10px;
    font-size: 48px; } }
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  width: 90%;
  background: white;
  z-index: 999; }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 61px; }

@media (min-width: 992px) {
  .header {
    padding: 0 10%; }

  .sticky {
    width: 80%; }

  .sticky + .content {
    padding-top: 75px; } }
.navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 100%;
  z-index: 100; }

.navigation-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #f6f6f6;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  overflow: hidden;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll; }
  .navigation-menu li {
    padding-right: 0;
    padding-bottom: 30px; }
  .navigation-menu .link {
    padding: 10px 20px;
    color: #333;
    font-size: 28px; }
    .navigation-menu .link:before {
      width: 0; }

.mobile-navigation .icon--burger-menu {
  opacity: 0;
  position: absolute;
  margin: 0;
  transform: translate(-5px, -14px);
  width: 40px;
  height: 40px;
  z-index: 102; }
.mobile-navigation .line {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  position: relative;
  background: #333;
  border-radius: 2px;
  z-index: 101;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  .mobile-navigation .line:last-of-type {
    margin-bottom: 0;
    width: 23px;
    float: right;
    transform-origin: 0% 100%; }

.menu-is-open {
  /*width: 100%;
  height: 100%;
  position: fixed;
  .navigation-menu {
      height: 100vh;
  }*/ }
  .menu-is-open .navigation {
    bottom: 0; }
  .menu-is-open .line {
    transform: rotate(45deg) translate(-2.5px, -10px);
    margin-bottom: 0; }
    .menu-is-open .line:last-of-type {
      transform: rotate(-45deg) translate(-1.5px, 9px);
      width: 30px; }

@media (min-width: 768px) {
  .navigation {
    position: relative; }

  .navigation-menu {
    justify-content: flex-end;
    position: relative;
    background: none;
    top: none;
    left: none;
    flex-direction: row;
    overflow: visible; }
    .navigation-menu li {
      padding-right: 40px;
      padding-bottom: 0; }
      .navigation-menu li:last-child {
        padding-right: 0; }
    .navigation-menu .link {
      padding: 10px;
      font-size: 20px; }
      .navigation-menu .link:hover {
        color: #D44040; }
      .navigation-menu .link:before {
        width: 0;
        left: 50%;
        transform: translate(-50%, -10px);
        max-width: calc(100% - 20px); }
      .navigation-menu .link:hover:before {
        width: 100%; }
      .navigation-menu .link:after {
        opacity: 0; }

  .mobile-navigation {
    display: none; } }
#intro {
  padding-top: 40px;
  padding-bottom: 40px; }
  #intro .heading {
    margin-bottom: 20px;
    font-size: 28px; }
  #intro .sub-heading {
    font-weight: 400; }

.avatar-background {
  width: 200px;
  height: 200px;
  background: #bcc8d8;
  margin-bottom: 0;
  margin-left: -30px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  transform: scale(0.7); }
  .avatar-background .cloud-group {
    animation-name: move-right-first;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  .avatar-background .cloud-group:nth-child(2) {
    transform: translateX(-100%);
    animation-name: move-right-second; }
@keyframes move-right-first {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(100%, 0); } }
@keyframes move-right-second {
  0% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(0, 0); } }
  .avatar-background .cloud-item:nth-child(2) {
    transform: translate(70px, 30px) scale(0.8); }
  .avatar-background .cloud-item:nth-child(3) {
    transform: translate(-80px, 50px) scale(1.2); }
  .avatar-background .cloud {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    left: 100px; }
  .avatar-background .cloud-left {
    left: 88px;
    height: 20px;
    width: 20px;
    top: 7px; }
  .avatar-background .cloud-right {
    left: 123px;
    height: 16px;
    width: 16px;
    top: 10px; }
  .avatar-background .avatar {
    left: -7px; }
  .avatar-background .hair {
    z-index: 3;
    top: 30px;
    left: 50px;
    width: 120px;
    height: 200px;
    border-radius: 100px 100px 0 0;
    background: #333; }
  .avatar-background .fringe {
    z-index: 99;
    top: 53px;
    left: 95px;
    width: 63px;
    height: 28px;
    background: #333;
    border-radius: 0 0 100px 100px;
    transform: rotate(30deg); }
    .avatar-background .fringe:before {
      position: absolute;
      content: "";
      top: 18px;
      left: -20px;
      width: 47px;
      height: 30px;
      background: #333;
      border-radius: 100%;
      transform: rotate(-45deg); }
  .avatar-background .face {
    border-radius: 100px 100px 130px 130px;
    z-index: 20;
    top: 70px;
    left: 70px;
    width: 80px;
    height: 80px;
    background: #F0BEAF; }
  .avatar-background .eye {
    z-index: 30;
    top: 100px;
    left: 80px;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 100%;
    animation-name: eyeblinking-left;
    animation-duration: 4s;
    animation-iteration-count: infinite; }
    .avatar-background .eye:before {
      position: absolute;
      content: "";
      left: 50px;
      width: 10px;
      height: 10px;
      background: #333;
      border-radius: 100%;
      animation-name: eyeblinking-right;
      animation-duration: 4s;
      animation-iteration-count: infinite; }
@keyframes eyeblinking-left {
  0% {
    height: 10px;
    top: 100px; }
  90% {
    height: 10px;
    top: 100px; }
  95% {
    height: 2px;
    top: 104px; }
  100% {
    height: 10px;
    top: 100px; } }
@keyframes eyeblinking-right {
  0% {
    height: 10px; }
  90% {
    height: 10px; }
  95% {
    height: 2px; }
  100% {
    height: 10px; } }
  .avatar-background .nose {
    z-index: 20;
    top: 100px;
    left: 107px;
    width: 8px;
    height: 14px;
    background: #DB9B99;
    border-radius: 100px; }
  .avatar-background .mouth {
    width: 500px;
    height: 100px;
    border: solid 5px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .avatar-background .neck {
    z-index: 13;
    width: 30px;
    height: 35px;
    background: #DB9B99;
    top: 130px;
    left: 97px;
    border-radius: 100%; }
  .avatar-background .mouth {
    width: 30px;
    height: 30px;
    top: 96px;
    z-index: 20;
    left: 100px;
    border: solid 3px #D44040;
    border-color: transparent transparent #D44040 transparent;
    border-radius: 0 0 150px 30%/90px; }
  .avatar-background .body {
    z-index: 10;
    top: 150px;
    left: 60px;
    width: 100px;
    height: 150px;
    background: #ececec;
    border-radius: 100px; }

.clouds, .cloud, .avatar, .hair, .fringe, .face, .eye, .nose, .mouth, .neck, .body {
  position: absolute; }

#projects .row {
  align-items: center; }

#about .row {
  padding: 100px 0 30px; }
#about h3 {
  margin-bottom: 30px; }
#about p {
  font-size: 24px; }

@media (min-width: 768px) {
  #intro {
    padding-top: 100px;
    padding-bottom: 100px; }
    #intro .heading {
      font-size: 36px; }

  .avatar-background {
    transform: none;
    margin-bottom: 40px;
    margin-left: 0; } }
#footer {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 100px 0 0;
  background: #f6f6f6; }
  #footer p {
    text-align: center;
    font-size: 14px; }

/*# sourceMappingURL=main.css.map */
