* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  min-width: 100vw;
  min-height: 100vh;
  /*background: linear-gradient(114.32deg, #3A3D41 0%, #212623 50.52%, #1F2123 100%);*/
  background: #232323;
  color: white; }

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.4px;
  line-height: 1.8; }

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.4; }

h1 {
  font-size: 60px; }

p {
  margin: 0;
  font-weight: 300;
  max-width: 640px; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 2px;
  border-color: inherit;
  font-weight: 600;
  white-space: nowrap; }

.link-arrow::after {
  content: url(../assets/icon/arrow-social.svg);
  margin-left: 4px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  font-size: 14px;
  line-height: 2.2;
  font-weight: 200; }

header, main, footer {
  max-width: 1440px;
  padding: 0 40px;
  margin: auto; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px; }

.logo {
  border-bottom: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.8px; }

.social {
  margin-left: 64px;
  font-size: 14px; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px; }

.text-container {
  margin-top: 40px;
  width: 100%;
  padding-right: 80px; }

.subtitle {
  margin-top: 16px;
  margin-bottom: 40px; }

.hand {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block; }

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg); }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg); }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg); }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg); }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }
.has--top-border {
  margin-top: 184px;
  padding-top: 40px;
  border-top: 1px solid #525252; }

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.list-wrapper > li {
  width: 50%;
  max-width: 240px; }

.cap-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  display: block; }

.img-container {
  max-width: 440px;
  max-height: 440px;
  border-radius: 100%;
  overflow: hidden; }

footer {
  padding-top: 40px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  color: #cfcfcf; }
  footer a {
    color: white; }

@media (max-width: 1024px) {
  header, main, footer {
    padding-left: 80px;
    padding-right: 80px; }

  main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 100%; }

  .text-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0; } }
@media (max-width: 680px) {
  header, main, footer {
    padding-left: 24px;
    padding-right: 24px; }

  .social {
    margin-left: 6vw; }

  main {
    padding-top: 40px; }

  .img-container {
    width: 40vw;
    height: 40vw;
    min-width: 200px;
    min-height: 200px; }

  h1 {
    font-size: 40px; }

  .is--hidden-mobile {
    display: none; }

  .has--top-border {
    margin-top: 80px; }

  footer {
    padding-top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer section:first-child {
      width: 100%;
      border-top: 1px solid #525252;
      padding-top: 40px;
      padding-bottom: 40px; } }

/*# sourceMappingURL=new.css.map */