body {
  font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $fw-regular;
  line-height: $lh-body;
  color: $c-gray-dark;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  line-height: $lh-heading;
}
h1 {
  font-size: $fs-h1;
}
h2 {
  font-size: $fs-h2;
}
h3 {
  font-size: $fs-h3;
}
h4 {
  font-size: $fs-h4;
}
h5 {
  font-size: $fs-h5;
}
h6 {
  font-size: $fs-h6;
}

p {
  font-size: $fs-body;
  margin: 0;
}

strong {
  font-weight: $fw-regular;
}