// color 

$c-blue: #bcc8d8;
$c-red: #ff4040;

$c-gray-light: #f6f6f6;
$c-gray: #7A7A7A;
$c-gray-dark: #232323;

// font 

$fs-small: 14px;
$fs-medium: 16px;
$fs-large: 24px;
$fs-xlarge: 36px;

$fs-body: $fs-medium;

$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 28px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 18px;

$lh-body: 1.4;
$lh-heading: 1.2;

// transform
$tr-fast: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
$tr-slow: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

// breakpoints
$breakpointSmall: 600px; //xs
$breakpointSmallMedium: 960px; //sm
$breakpointMedium: 1024px; // md
$breakpointLarge: 1280px; //lg
//